[submodule "vim/dotvim/bundle/tabular"]
	path = vim/dotvim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "vim/dotvim/bundle/fugitive"]
	path = vim/dotvim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/dotvim/bundle/snipmate"]
	path = vim/dotvim/bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "vim/dotvim/bundle/zencoding"]
	path = vim/dotvim/bundle/zencoding
	url = git://github.com/mattn/zencoding-vim.git
[submodule "vim/dotvim/bundle/surround"]
	path = vim/dotvim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/dotvim/bundle/gundo"]
	path = vim/dotvim/bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
