[submodule "vim/dotvim/bundle/tabular"]
	path = vim/dotvim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "vim/dotvim/bundle/fugitive"]
	path = vim/dotvim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/dotvim/bundle/snipmate"]
	path = vim/dotvim/bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "vim/dotvim/bundle/zencoding"]
	path = vim/dotvim/bundle/zencoding
	url = git://github.com/mattn/zencoding-vim.git
[submodule "vim/dotvim/bundle/surround"]
	path = vim/dotvim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/dotvim/bundle/gundo"]
	path = vim/dotvim/bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
[submodule "vim/dotvim/bundle/command-t"]
	path = vim/dotvim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim/dotvim/bundle/abolish"]
	path = vim/dotvim/bundle/abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "vim/dotvim/bundle/bufkill"]
	path = vim/dotvim/bundle/bufkill
	url = git://github.com/vim-scripts/bufkill.vim.git
[submodule "vim/dotvim/bundle/gnupg"]
	path = vim/dotvim/bundle/gnupg
	url = git://github.com/vim-scripts/gnupg.vim.git
[submodule "vim/dotvim/bundle/bufexplorer"]
	path = vim/dotvim/bundle/bufexplorer
	url = git://github.com/slack/vim-bufexplorer.git
[submodule "vim/dotvim/bundle/indent-guides"]
	path = vim/dotvim/bundle/indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim/dotvim/bundle/lusty-juggler"]
	path = vim/dotvim/bundle/lusty-juggler
	url = git://github.com/sjbach/lusty.git
[submodule "vim/dotvim/bundle/nerdcommenter"]
	path = vim/dotvim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/dotvim/bundle/nerdtree"]
	path = vim/dotvim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/dotvim/bundle/repeat"]
	path = vim/dotvim/bundle/repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "vim/dotvim/bundle/taglist"]
	path = vim/dotvim/bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "vim/dotvim/bundle/yankring"]
	path = vim/dotvim/bundle/yankring
	url = git://github.com/vim-scripts/YankRing.vim.git
[submodule "vim/dotvim/bundle/ack.vim"]
	path = vim/dotvim/bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule "emacs.d/packages/drag-stuff"]
	path = emacs.d/packages/drag-stuff
	url = git://github.com/rejeep/drag-stuff.git
[submodule "emacs.d/packages/ace-jump-mode"]
	path = emacs.d/packages/ace-jump-mode
	url = git://github.com/winterTTr/ace-jump-mode.git
[submodule "emacs.d/packages/markdown-mode"]
	path = emacs.d/packages/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "emacs.d/packages/minimap"]
	path = emacs.d/packages/minimap
	url = git://randomsample.de/minimap.git
[submodule "emacs.d/packages/zencoding"]
	path = emacs.d/packages/zencoding
	url = git://github.com/rooney/zencoding.git
[submodule "emacs.d/packages/tomorrow-theme"]
	path = emacs.d/packages/tomorrow-theme
	url = git://github.com/chriskempson/tomorrow-theme.git
[submodule "emacs.d/packages/magit"]
	path = emacs.d/packages/magit
	url = git://github.com/magit/magit.git
[submodule "vim/dotvim/bundle/supertab"]
	path = vim/dotvim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "emacs.d/packages/smex"]
	path = emacs.d/packages/smex
	url = git://github.com/nonsequitur/smex.git
[submodule "emacs.d/packages/yasnippet"]
	path = emacs.d/packages/yasnippet
	url = git://github.com/capitaomorte/yasnippet.git
[submodule "emacs.d/packages/expand-region"]
	path = emacs.d/packages/expand-region
	url = git://github.com/magnars/expand-region.el.git
[submodule "emacs.d/packages/ack-and-a-half"]
	path = emacs.d/packages/ack-and-a-half
	url = git://github.com/jhelwig/ack-and-a-half.git
[submodule "emacs.d/packages/iedit"]
	path = emacs.d/packages/iedit
	url = git://github.com/victorhge/iedit.git
[submodule "emacs.d/packages/rainbow-delimiters"]
	path = emacs.d/packages/rainbow-delimiters
	url = git://github.com/jlr/rainbow-delimiters.git
[submodule "emacs.d/packages/undo-tree"]
	path = emacs.d/packages/undo-tree
	url = git://github.com/emacsmirror/undo-tree.git
[submodule "emacs.d/packages/helm"]
	path = emacs.d/packages/helm
	url = git://github.com/emacs-helm/helm.git
[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/zsh-history-substring-search"]
	path = zsh/zsh-history-substring-search
	url = git://github.com/zsh-users/zsh-history-substring-search.git
[submodule "emacs.d/packages/multiple-cursors"]
	path = emacs.d/packages/multiple-cursors
	url = git://github.com/magnars/multiple-cursors.el.git
[submodule "zsh/fasd"]
	path = zsh/fasd
	url = git://github.com/clvv/fasd.git
[submodule "emacs.d/packages/wrap-region"]
	path = emacs.d/packages/wrap-region
	url = git://github.com/rejeep/wrap-region.git
