.python-environments/
anaconda-mode/
auto-save-list/
elpa/
semanticdb/
undodir/
url/
var/
*.elc
.emacs.desktop
.emacs.desktop.lock
ac-comphist.dat
company-statistics-cache.el
custom.el
ede-projects.el
places
projectile-bookmarks.eld
projectile.cache
recentf
smex-items
tramp
