.python-environments/
anaconda-mode/
auto-save-list/
elpa/
semanticdb/
undodir/
url/
var/
ac-comphist.dat
custom.el
ede-projects.el
projectile-bookmarks.eld
projectile.cache
tramp
.emacs.desktop
.emacs.desktop.lock
company-statistics-cache.el
places
recentf
*.elc
